body {
  height: 1200px; }

.head {
  height: 400px;
  background-image: url("/images/23.jpg");
  background-size: cover;
  background-position: top;
  text-align: center;
  padding-top: 40px; }
  .head .logo img {
    width: 200px;
    margin-right: 1200px;
    height: 150px; }
  .head h1 {
    color: white; }

button {
  background: white;
  width: 140px;
  margin-top: 30px;
  float: left;
  font-size: 20px;
  color: white;
  font-weight: bold; }
  button .the {
    color: white;
    background-color: #19508c;
    border: 2px solid white;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 140px;
    margin-top: 30px;
    font-size: 20px;
    float: left;
    text-decoration: none;
    font-weight: bold; }
    button .the.active, button .the:hover {
      background-color: #ec1c23;
      color: #fff;
      border: 2px solid #ec1c23; }

.mobile {
  color: white;
  margin-right: 100%; }

.the {
  display: none; }

@media (max-width: 991px) {
  .mobile {
    display: none; }
  .the {
    display: inline; } }

.slide {
  max-height: 100%; }
  .slide .carousel-indicators li::before {
    height: 8px;
    cursor: pointer; }
  .slide .carousel-inner .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; }
  .slide .carousel-inner h1 {
    position: absolute;
    color: #fff;
    z-index: 3;
    max-width: 100%;
    font-size: 70px;
    text-shadow: 2px 2px 8px #FF0000;
    text-align: right;
    margin-left: 600px;
    margin-top: 400px; }
  @media (max-width: 326px) {
    .slide .carousel-inner h1 {
      position: absolute;
      color: #fff;
      z-index: 3;
      max-width: 100%;
      font-size: 40px;
      text-shadow: 2px 2px 8px #FF0000;
      text-align: center;
      left: auto; } }
  .slide .carousel-inner span {
    color: #c0392b;
    text-shadow: 2px 2px #FF0000; }
  .slide .carousel-inner .carousel-item img {
    opacity: 0.7; }

.feature {
  padding: 50px; }
  .feature .second img {
    text-align: center; }
  .feature h3 {
    color: #19508c; }
  .feature p {
    color: #989898;
    margin-bottom: 40px; }

.over {
  padding: 100px;
  background-color: #f0f5f7; }
  .over h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #19508c; }
  .over p {
    font-style: italic;
    font-size: 25px; }
  @media (max-width: 992px) {
    .over h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 25px;
      color: #19508c; }
    .over p {
      font-style: italic;
      font-size: 15px; } }
  .over button {
    color: white;
    background-color: red;
    border: 1px solid red;
    position: absolute;
    text-align: center;
    margin-right: 600px; }

.from {
  background-color: #f0f5f7;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  color: blue; }
  .from .my {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    width: 60%;
    align-items: center;
    margin-left: 190px; }
    .from .my .me {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important; }
  .from h4 {
    color: #19508c;
    border: 2px solid black;
    text-shadow: 2px 4px 8px;
    font-size: 30px; }

.deel {
  padding: 100px 0;
  background-color: #f0f5f7; }
  .deel .info h5 {
    font-size: 25px;
    color: #19508c;
    text-shadow: 2px 2px 8px black; }
  .deel .info p {
    line-height: 1.8;
    color: #727272; }
  .deel .info li {
    color: black;
    font-size: 16px; }
  .deel .info a {
    font-size: 18px;
    font-weight: bold; }
    .deel .info a:before {
      display: inline-block; }
  .deel .help h2 {
    font-size: 35px;
    margin-bottom: 30px;
    color: #19508c;
    text-shadow: 2px 2px 8px black; }
  .deel .help li {
    color: black;
    position: relative;
    top: -1px;
    font-size: 20px;
    margin-right: 5px; }
  .deel .email h2 {
    font-size: 35px;
    margin-bottom: 30px;
    color: #19508c;
    text-shadow: 2px 2px 8px black; }
  .deel .email p {
    color: #ff8d00;
    font-weight: bold; }
  .deel .email a {
    font-weight: bold;
    color: #ff8d00; }

.copy-right {
  background-color: white;
  border-top: 1px solid black;
  padding: 20px;
  color: black;
  text-shadow: 2px 2px 8px black; }
  .copy-right ul li {
    display: inline-block;
    margin-left: 20px; }

@media (max-width: 320px) {
  .my {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    width: 100%;
    align-items: left; } }

@media (max-width: 320px) and (max-width: 320px) {
  .me {
    position: absolute;
    top: 0;
    left: inherit;
    width: 100% !important;
    height: 100% !important; } }
